<div id="chatDiv" class="isOpened">
    <div id="chatDivHeader">
        <img src="/images/chatIcon.svg" />
        <h3>Discussion</h3> 
    </div>
    <div id="chatDivClassSelection">
        <div class="classDivClassGeneral">Général</div>
        <div class="classDivClassGroup">Ta classe</div>
    </div>
    <div id="chatDivContent">
        <!-- <div class="chatDivMessage self">chat 1</div>
        <div class="chatDivMessage">chat 2</div> -->
    </div>
    <form id="chatDivInput">
        <input type="text" />
        <input type="submit" />
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chatScript.js" type="module"></script>