<div id="chatDiv" class="notOpened">
    <div id="chatDivHeader">
        <img src="/images/chatIcon.svg" />
        <h3>Discussion</h3> 
    </div>
    <div id="chatDivClassSelection">
        <div id="classDivClassGeneral" class="selectedClass">Général</div>
        <div id="classDivClassGroup">Ta classe</div>
    </div>
    <div id="chatDivContent">
    </div>
    <form id="chatDivInput">
        <div class="chatDivInputMsg">
            <input type="text" id="chatDivInputText"/>
            <input type="submit" />
        </div>
        <div id="chatDivInputStatus">
        </div>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chatScript.js" type="module"></script>